<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="all" name="robots"/>
    <meta name="author" content="Fisher" />
    <meta name="Copyright" content="Copyright 2007-2008, 版权所有 www.reefdesign.cn" />
    <meta name="description" content="reefdesign" />
    <meta name="keywords" content="reefdesign" />
    <title>网上书店</title>
    <link rel="shortcut icon" href="favicon.ico" >
    <link rel="stylesheet" rev="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
    <meta http-equiv="refresh" content="5;url=http://127.0.0.1:8000/my/">
</head>

<body class="main">

	<div id="divhead">
		<table cellspacing="0" class="headtable">
			<tr>
				<td><a href="index"><img src="/static/images/logo.gif"
						width="95" height="30" border="0" /></a></td>
				<td style="text-align: right"><img src="/static/images/cart.gif"
					width="26" height="23" style="margin-bottom: -4px" />&nbsp; <a
					href="http://127.0.0.1:8000/cart/">购物车</a> | <a
					href="http://127.0.0.1:8000/login/">我的帐户</a> | <a href="http://127.0.0.1:8000/register/">新用户注册</a></td>
			</tr>
		</table>
	</div>

<div id="divmenu">
<a href="index/">首页</a>　　<a href="fiction/">小说</a>　　<a href="literature/">文学</a>　　<a href="textbook/">教材</a>　　<a href="youth/">青春</a>　　<a href="biography/">传记</a>　　<a href="history/">历史</a>　　　　<a href="books/" style="color:#FFFF00">全部图书</a></div>

	<div id="divsearch">
		<table width="100%" border="0" cellspacing="0">
			<tr>
				<form action="search/" method="post">
				<td style="text-align: right; padding-right: 220px">Search <input
					type="text" name="bkname" class="inputtable" /> <!--<input name="searchbutton" type="image" src="/static/images/serchbutton.gif" style=" margin-bottom:-4px"/>-->
					<input type="image" src="/static/images/serchbutton.gif" border="0" style="margin-bottom: -4px" />
				</td>
				</form>
			</tr>
		</table>
	</div>





 <div id="divcontent">
<table width="850px" border="0" cellspacing="0">
  <tr>
    <td style="padding:30px; text-align:center"><table width="60%" border="0" cellspacing="0" style="margin-top:70px">
      <tr>
        <td style="width:98"><img src="/static/images/IconTexto_WebDev_009.jpg" width="128" height="128" /></td>
        <td style="padding-top:30px"><font style="font-weight:bold; color:#FF0000">充值成功</font><br />
            <br />
          <a href="index">5秒后自动为您转我的账户</a></td>
      </tr>
    </table>
    <h1>&nbsp;</h1></td>
    </tr>
</table>
</div>




<div id="divfoot">
  <table width="100%" border="0" cellspacing="0">
    <tr>
      <td rowspan="2" style="width:10%"><img src="/static/images/bottomlogo.gif" width="195" height="50" style="margin-left:175px"/></td>
      <td style="padding-top:5px; padding-left:50px"><a href="#"><font color="#747556"><b>CONTACT US</b></font></a></td>
    </tr>
    <tr>
      <td style="padding-left:50px"><font color="#CCCCCC"><b>COPYRIGHT 2008 &copy; eShop All Rights RESERVED.</b></font></td>
    </tr>
  </table>
</div>


</body>
</html>
